#Ignore build files
CMakeCache.txt
CMakeFiles
build
cmake_install.cmake
lws-minimal*
Makefile
.cproject
.project
config.h
config.log
config.status
libtool
stamp-h1
output/
win32port/ipch/
win32port/Debug*/
win32port/Release*/
win32port/server/Debug*/
win32port/server/Release*/
win32port/client/Debug*/
win32port/client/Release*/
win32port/libwebsocketswin32/Debug*/
win32port/libwebsocketswin32/Release*/
win32port/zlib/Debug*/
win32port/zlib/Release*/
*.vcxproj.user
*.opensdf
*.sdf
*.suo
*.su
*.m4
*.a
missing
depcomp
install-sh
configure
compile
config.guess
*~
*.orig
autom4te.cache/
ltmain.sh
config.sub
ar-lib
libwebsockets.pc
build/
*.swp
doc
/build2/
/build3/
/cov-int/
